.card-main {
    margin-top: 20px;
    background-color: #FFFFFF;
    padding: 43px 44px 21px 50px;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.card-main:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card-main h4 {
    padding: 30px 0 15px;
    color: #282938;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
}

.card-main p {
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
}