.our-main{
    border: none !important;
}
.our-main img{
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.our-main img:hover{
     box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.taxt-one{
    padding: 20px 0 0 0;
    color: #282938;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
}

.text-two{
    color: #282938;
    line-height: 36px;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.text-three{
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
}
.text-four{
    color: #282938;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
}












