.feature {
    background-color: #F4F6FC;
    padding: 100px 0;
}

.feat-one h3{
    text-align: center;
    color: #282938;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
}
.feat-two h4{
    text-align: center;
    color: #282938;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    font-family: "Poppins", sans-serif;
}











