#works{
    padding: 100px 0;
    background-color:#F4F6FC;
}
.wark-main h3{
    color: #282938;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    font-family: "Poppins", sans-serif;
}
.wark-main p{
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
}
.wark-main a{
    color: #2405F2;
    font-size: 18x;
    font-weight: 500;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
}
.wor-i{
    font-size: 30px;
}
.work-img h2{
    color: #282938;
    font-size: 32x;
    font-weight: 500;
    line-height: 48px;
    font-family: "Poppins", sans-serif;
}
.work-img p{
    color: #282938;
    font-size: 16x;
    font-weight: 400;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
}






